<header class="header">
  <div class="container">
    <div class="header-container">
      <div class="header-logo">
        <a class="header-logo-link" href="../index.html">
          <svg class="icon-logo">
              <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <a class="header-logo-name" href="../index.html">
          <img
            class="header-logo-img"
            src="./img/logo.png"
            alt="logo">
        </a>
      </div>
      <a class="header-menu-logo" href="#menu">
        <svg class="icon-menu">
          <use href="../img/icons.svg#icon-menu"></use>
        </svg>
      </a>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-item">
            <a class="header-nav-link" href="#how-it-works">How It Works</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link" href="#vegetables">Vegetables</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link" href="#reviews">Reviews</a>
          </li>
        </ul>
        <a class="header-btn" href="#your-order">Shop now</a>
      </nav>
    </div>
  </div>
</header>
