<section class="how-it-works">
  <div class="hiw-woman-cut">
    <img
      class="hiw-woman-img"
      src="../img/how-it-works/hiw-woman-mob.jpg"
      alt="woman cut apple in kitchen"
    />
  </div>
  <div class="order">
    <h2 class="how-order">
      To order your <span>vegetable</span> basket, simply follow these
      <span>easy steps</span>
    </h2>
    <p class="about-baskets">
      Our baskets are assembled with care and delivered straight to your
      doorstep, so you can enjoy the taste of fresh fruit without ever leaving
      your home.
    </p>
    <ul class="steps-list">
      <li class="steps-list-point">
        <img
          class="numbering-img"
          src="../img/how-it-works/1.svg"
          width="52"
          height="52"
          alt="number 1 in purple circle"
        />
        <p class="steps-list-text">
          Just choose <span>the vegetable</span> you want to order by clicking
          on the checkboxes <span>next to it.</span>
        </p>
      </li>
      <li class="steps-list-point">
        <img
          class="numbering-img"
          src="../img/how-it-works/2.svg"
          width="52"
          height="52"
          alt="number 2 in purple circle"
        />
        <p class="steps-list-text">
          Click on <span>the basket</span> and fill out the form.
        </p>
      </li>
      <li class="steps-list-point">
        <img
          class="numbering-img"
          src="../img/how-it-works/3.svg"
          width="52"
          height="52"
          alt="number 3 in purple circle"
        />
        <p class="steps-list-text">
          Sit back and relax! Your <span>fresh vegetables</span> basket will be
          delivered.
        </p>
      </li>
    </ul>
  </div>
</section>
