<section id="vegetables" class="section vegetables">
  <div class="container">
    <h2 class="vegetables-title">organic <span class="vegetables-title-span">vegetables</span></h2>
    <p class="vegetables-text">Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible.</p>
      <ul class="vegetables-list">
        <li class="vegetables-item">
          <div class="vegetables-item-text">
            <h4 class="vegetables-item-title">eggplant</h4>
            <p class="item-price">60 UAH / kg</p>
          </div>

          <img
          srcset="
            /img/section-vegetables/vegetable1-1x.png 1x,
            /img/section-vegetables/vegetable1-2x.png 2x
            "
              src="/img/section-vegetables/vegetable1-1x.png"
              alt="Eggplant"
              width="282"
              height="243"
          >
        </li>
        <li class="vegetables-item">
          <div class="vegetables-item-text">
            <h4 class="vegetables-item-title">leek</h4>
            <p class="item-price">50 UAH / kg</p>
          </div>

            <img
            srcset="
              /img/section-vegetables/vegetable2-1x.png 1x,
              /img/section-vegetables/vegetable2-2x.png 2x
              "
                src="/img/section-vegetables/vegetable2-1x.png"
                alt="Leek"
                width="282"
                height="243"
            >
        </li>
        <li class="vegetables-item">
          <div class="vegetables-item-text">
            <h4 class="vegetables-item-title">mushrooms</h4>
            <p class="item-price">40 UAH / kg</p>
          </div>

            <img
            srcset="
              /img/section-vegetables/vegetable3-1x.png 1x,
              /img/section-vegetables/vegetable3-2x.png 2x
              "
                src="/img/section-vegetables/vegetable3-1x.png"
                alt="Mushrooms"
                width="282"
                height="243"
            >
        </li>
        <li class="vegetables-item">
          <div class="vegetables-item-text">
            <h4 class="vegetables-item-title">corn</h4>
            <p class="item-price">60 UAH / kg</p>
          </div>

            <img
            srcset="
              /img/section-vegetables/vegetable4-1x.png 1x,
              /img/section-vegetables/vegetable4-2x.png 2x
              "
                src="/img/section-vegetables/vegetable4-1x.png"
                alt="Corn"
                width="282"
                height="243"
            >
        </li>
        <li class="vegetables-item">
          <div class="vegetables-item-text">
            <h4 class="vegetables-item-title">sweet potatoes</h4>
            <p class="item-price">50 UAH / kg</p>
          </div>

            <img
            srcset="
              /img/section-vegetables/vegetable5-1x.png 1x,
              /img/section-vegetables/vegetable5-2x.png 2x
              "
                src="/img/section-vegetables/vegetable5-1x.png"
                alt="Sweet potatoes"
                width="282"
                height="243"
            >
        </li>
        <li class="vegetables-item">
          <div class="vegetables-item-text">
            <h4 class="vegetables-item-title">carrot</h4>
            <p class="item-price">40 UAH / kg</p>
          </div>

            <img
            srcset="
              /img/section-vegetables/vegetable6-1x.png 1x,
              /img/section-vegetables/vegetable6-2x.png 2x
              "
                src="/img/section-vegetables/vegetable6-1x.png"
                alt="Carrot"
                width="282"
                height="243"
            >
        </li>
      </ul>
    </div>
</section>