
<section class="your-order">
    <div class="container ">
        <h2 class="order-title">
            Fresh <span class="harvest">Harvest</span> Box has got you covered
        </h2>
        <p class="order-text">
            Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking to eat healthier or support local farmers. Order your box today and start enjoying the best that nature has to offer!

        </p>
    </div>
    <div class="box">
    <div class="form-order">
    <h3 class="title-form">
        Ordering <span class="from-us">from us</span> is quick and easy! Fill out <span class="the-form ">the form </span>below and we will contact you !

    </h3>
    
    <form action="process_form.php" method="post">
        
        <input class="input-order" type="text" id="name" name="name" required value="Full Name"><br>

        <input class="input-order" type="text" id="email" name="email" required value="Email"><br>

        <textarea class="textarea-order" id="message" name="message" rows="4" cols="50" value="Comment"></textarea><br>

        <button type="button" class="button-order">Send</button> 
    </form>
</div>
<div class="networks">
    <picture>
        <source
          srcset="/img/your-order-img/your-order-desc-1x.jpg 1x,
          /img/your-order-img/your-order-desc-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        >
        <source
          srcset="/img/your-order-img/your-order-tab-1x.jpg 1x,
          /img/your-order-img/your-order-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
        >
        <source
          srcset="/img/your-order-img/your-order-mob-1x.jpg 1x,
          /img/your-order-img/your-order-mob-2x.jpg 2x
          "
          media="(max-width: 767px)"
        >
        <img
          class="your-order-image"
          src="/img/your-order-img/your-order-tab-1x.jpg"
          alt="Make fresh"
          width="273"
        >
      </picture>
    <p class="network-text">
        Follow us on our social networks:
    </p>
    <ul class="network-list">
        <li class="network-item">

            <a class="link-network" href="https://www.instagram.com/goitclub/">instagram /</a>
        </li>
        <li class="network-item">
            <a class="link-network" href="https://www.facebook.com/goITclub/">youtube /</a>
        </li>
        <li class="network-item">
            <a class="link-network" href="https://www.youtube.com/c/GoIT">facebook /</a>
        </li>
    </ul>
</div>
</div>
</section>