.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.advertisement-container{
    padding: 0px 10px;
    position: relative;
}
.advertisement-text{
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: inherit;
    padding: 3px 10px 0;
    z-index: 999;
}
.advertisement-part-text{
    color: #141414;
}  
.advertisement-green-bcg {
    position: absolute;
    top: 0;
    left: 10;
    background-color: #576f35;
    border-radius: 12px;
    width: 355px;
    height: 102px;
    z-index: -1;
}
@media screen and (min-width: 768px) {
.advertisement-container{
    padding: 0px 16px;
}
.advertisement-text{
    font-size: 64px;
    line-height: 1.1;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
}
.advertisement-green-bcg {
    width: 736px;
    height: 86px;
}
}
@media screen and (min-width: 1280px) {
.advertisement-text{
   font-size: 76px;
   line-height: 1.05;
   padding-left: 13px;
   padding-right: 0;
   padding-top: 0;
}
.advertisement-green-bcg{
    width: 808px;
}
}
