.footer {
    background-color: #7a3145;
    padding: 40px 0;
}
.footer-info {
    margin-bottom: 80px;

}
.footer-first-div {
    margin-bottom: 40px;
}
.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 14px;

}
.footer-logo-link {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-icon {
    fill: #fbfbfb;
}

.footer-second-div {
    width: 215px;
}
.footer-nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 14px;  
}
.footer-nav {
    display: block;
    unicode-bidi: isolate;
}
.footer-nav-item {
    font-size: 28px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -.42px;
}
.footer-contacs {
    width: 179px;
}
.footer-contacs-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.footer-contacs-link {
    font-style: normal;
    color: inherit;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.015em;
}

.footer-nav-list {
    margin-bottom: 40px;
}
.footer-the-end-item {
    color: #fbfbfb80;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: -.18px;
}
.footer-the-end-copyrights {
    color: #fbfbfb80;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -.18px;
}
.footer-the-end-list {
    display: flex;
    justify-content: space-between;
}
.footer-the-end-item:first-child {
    white-space: nowrap;
    display: flex;
    gap: 8px;
}
.footer-the-end-text {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.015em;
    color: rgba(251, 251, 251, 0.5);
}
@media screen and (min-width:1280px) {
    .footer {
        padding: 50px 100px;
    }

    
}
@media screen and (min-width: 768px) {

    .footer {
        font-size: 16px;
        line-height: 1.25;
    }
    .footer-info {
        display: flex;
        flex-direction: row;
        gap: 224px;
        margin-bottom: 100px;
    }
    .footer-first-div {
        width: 265px;
        margin-bottom: 0;
    }
    .footer-second-div {
        display: flex;
        flex-direction: column;
        gap: 64px;
    }
    .footer-the-end {
        justify-content: space-between;
    }
    .footer-contacs {
        width: 215px;
    }
    .footer-nav-list {
        margin-bottom: 0px;
    }
    .footer-nav-item {
        font-size: 32px;
        letter-spacing: -.48px;
    }
    .container {
        max-width: 375px;
        padding: 100px 32px;
        margin: 0 auto;
    }
}