.footer .container {
    background-color: #7a3145;
    padding: 40px 0px;
}
.container {
    max-width: 375px;
    padding: 80px 20px;
    margin: 0 auto;
}
*, ::after, ::before {
    box-sizing: border-box;
}
div {
    display: block;
    unicode-bidi: isolate;
}
.footer {
color: #fbfbfb;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 1.28;
}
.footer-info {
    margin-bottom: 80px;
}
.footer-first-div {
    margin-bottom: 40px;
}
.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.footer-second-div {
    width: 215px;
}
.footer-nav {
    display: block;
    unicode-bidi: isolate;
}
.footer-nav-item {
    font-size: 28px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -.42px;
}
.footer-contacs {
    width: 179px;
}
address {
    display: block;
    font-style: italic;
    unicode-bidi: isolate;
}

.footer-nav-list {
    margin-bottom: 40px;
}
.footer-the-end-item {
    color: #fbfbfb80;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: -.18px;
}
.footer-the-end-copyrights {
    color: #fbfbfb80;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -.18px;
}
@media screen and (min-width:1280px) {
    .footer .cotainer {
        padding: 50px 100px;
    }

    
}
@media screen and (min-width: 768px) {

    .footer {
        font-size: 16px;
        line-height: 1.25;
    }
    .footer-info {
        display: flex;
        flex-direction: row;
        gap: 224px;
        margin-bottom: 100px;
    }
    .footer-first-div {
        width: 265px;
        margin-bottom: 0;
    }
    .footer-second-div {
        display: flex;
        flex-direction: column;
        gap: 64px;
    }
    .footer-the-end {
        justify-content: space-between;
    }
    .footer-contacs {
        width: 215px;
    }
    .footer-nav-list {
        margin-bottom: 0px;
    }
    .footer-nav-item {
        font-size: 32px;
        letter-spacing: -.48px;
    }
    .cotainer {
        max-width: 375px;
        padding: 100px 32px;
        margin: 0 auto;
    }
}