.hero {
    background-color: #576F35;
    background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)),
                      url(../img/hero-img/hero1x-mob.jpg);
    background-repeat: no-repeat;
    block-size: auto;
    background-position: center bottom;
}

@media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)),
                      url(../img/hero-img/hero2x-mob.jpg);
    }
}

.hero-container {
    padding-bottom: 370px;
}

.hero-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #FBFBFB;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .hero-title {
        font-size: 76px;
        margin-bottom: 25px;
    }

    .hero {
        background-color: #576F35;
        background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)),
                          url(../img/hero-img/hero1x-tab.jpg);
    }
    
    @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)),
        url(../img/hero-img/hero2x-tab.jpg);
    }
    }

    .hero-container {
        padding-bottom: 539px;
    }
}

@media screen and (min-width: 1280px) {
    .hero-title {
        margin-bottom: 128px;
    }

    .hero {
        background-image: linear-gradient( to right, #576F35 0%, #576F35 50%,
        transparent 50%, transparent 100%), url(../img/hero-img/hero1x-desk.jpg);
    }  
    
    @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient( to right, #576F35 0%, #576F35 50%,
        transparent 50%, transparent 100%), url(../img/hero-img/hero2x-desk.jpg);
    }
    }
}

.hero-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    color: #FBFBFB;
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .hero-text {
        font-size: 16px;
        line-height: 1.2;
        margin-bottom: 50px;
    }
}
