.reviews {
    background-color: #fbfbfb;
    /* padding: 80px 20px; */
}
.reviews-container {
    /* width: 375px; */
}
.reviews-title {
font-weight: 600;
font-size: 48px;
line-height: 104%;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #141414;
margin-bottom: 20px;
}

.reviews-title-span {
    color: #576f35;
}

.reviews-item-text {
font-weight: 500;
font-size: 14px;
line-height: 129%;
color: #141414;
}

.reviews-list {
display: flex;
/* gap: ; */
flex-wrap: wrap;
justify-content: center;
}

.reviews-item {
border: 1px solid rgba(122, 49, 69, 0.3);
border-radius: 24px;
padding: 20px 16px;
width: 335px;
background-color: #fbfbfb;
align-items: center;
flex-direction: column;
}

.reviews-image {
border-radius: 100px;
padding: 12px;
}

.reviews-data {
}

.reviews-subtitle {
}