.reviews {
  background-color: #fbfbfb;
}

.reviews-customers {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.reviews-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 20px;
}

.reviews-title-span {
  color: #576f35;
}

.reviews-sub-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  color: #141414;
  margin-bottom: 40px;
}

.reviews-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.reviews-item {
  border: 1px solid rgba(122, 49, 69, 0.3);
  border-radius: 24px;
  padding: 20px 16px;
  width: 335px;
  height: 258px;
  align-items: center;
  flex-direction: column;
  display: flex;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.reviews-item:hover {
  transform: scale(1.1);
}

.item-tab {
  display: none;
  }

.item-bg {
  display: none;
}

.reviews-image {
  border-radius: 100px;
  margin-bottom: 24px;
}

.reviews-subtitle {
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
  margin: 0 auto;
  margin-bottom: 8px;
}

.reviews-item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
}

@media screen and (min-width: 768px) {
.reviews-customers {
  width: 553px;
}

.reviews-title {
  font-size: 64px;
  line-height: 1;
  margin-bottom: 25px;
}

.reviews-sub-text {
  font-size: 16px;
  margin-bottom: 50px;
}

.reviews-list {
  flex-wrap: nowrap;
  gap: 18px;
  align-items: center;
}

.reviews-item {
  width: 343px;
  height: 258px;
}

.item-tab {
  display: flex;
}

.reviews-data {
  margin-bottom: 20px;
}

.reviews-subtitle {
  font-size: 18px;
  line-height: 1.1;
  color: #141414;
}

.reviews-item-text {
  font-size: 16px;
  line-height: 1.4;
  color: rgba(20, 20, 20, 0.4);
}
}

@media screen and (min-width: 1280px) {
.reviews-customers {
  width: 553px;
}

.reviews-title {
  font-size: 64px;
  margin-bottom: 25px;
}

.reviews-sub-text {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 50px;
}

.reviews-item {
  width: 343px;
}

.item-bg {
  display: flex;
}

.reviews-data {
  margin-bottom: 20px;
}

.reviews-subtitle {
  font-size: 18px;
  line-height: 1.1;
  color: #141414;
}

.reviews-item-text {
  font-size: 16px;
  line-height: 1.4;
  color: rgba(20, 20, 20, 0.4);
}
}