/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./menu.css');
@import url('./hero.css');
@import url('./how-it-works.css');
@import url('./advertisement.css');
@import url('./vegetables.css');
@import url('./reviews.css');
@import url('./your-order.css');
@import url('./footer.css');


:root {
  font-family: Inter Tight, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #fbfbfb;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.section {
  padding: 80px 0;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }

  .section {
    padding: 100px 0;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 100px;
  }
}



