.your-order {
    background-color: #7A3145;
   
}
.order-title {
    font-family: "Inter Tight", sans-serif;
font-weight: 600;
font-size: 48px;
line-height: 104%;
letter-spacing: -0.01em;
text-transform: uppercase; 
color: #FBFBFB;
align-items: start;
}
.harvest {
    color: rgba(251, 251, 251, 0.3);
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.order-text {
    font-family: "Inter Tight", sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 129%;
color: #FBFBFB;
}
.form-order {
    background-color: #FBFBFB;
    border-radius: 30px;
padding: 40px 20px;
width: 335px;
height: 533px;
}
.title-form {
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 108%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #141414;
}
.from-us {
    color: #7A3145;
}
.the-form {
color: #576F35;
}
.input-order {
    padding-bottom: 15px;
}
.textarea-order {
    padding-bottom: 20px;
}
.button-order {
    border-radius: 30px;
padding: 16px 129px;
width: 295px;
height: 50px;
background-color: #576F35;
}
.networks {
    background-color: #576F35 ;
}
.network-text {
    font-family: "Inter Tight", sans-serif;
font-weight: 600;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.01em;
color: rgba(251, 251, 251, 0.5);
}
.network-list {
    display: flex;

}
.network-item {
    list-style-type: none;
}
.link-network {
text-decoration: none;
font-family: "Inter Tight", sans-serif;
font-weight: 600;
font-size: 24px;
line-height: 108%;
letter-spacing: -0.01em;
color: #FBFBFB;
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }
    .order-title {
        font-weight: 600;
        font-size: 64px;
        line-height: 100%;
        }
        .order-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        }
        .box {
            width: 1080px;
            height: 534px;
            display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
        }
        
        .form-order {
        padding: 50px 100px;
        width: 628px;
    height: 534px;
        }
        .title-form {
            font-weight: 600;
            font-size: 24px;
            line-height: 108%;
            
        }
        .button-order {
            border-radius: 30px;
        padding: 16px 129px;
        width: 428px;
        height: 52px;
        }
        .network-text {
        font-weight: 600;
        font-size: 18px;
        line-height: 111%;
        }
        .network-list {
            display: flex;
        
        }
        .network-item {
            list-style-type: none;
        }
        .link-network {
        text-decoration: none;
        font-size: 32px;
        line-height: 100%;
        
        }
}
    
  
  
    @media screen and (min-width: 768px) {
        .container {
            max-width: 766px;
        } 
        .order-title {
        font-weight: 600;
        font-size: 64px;
        line-height: 100%;
        }
        .order-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        color: #FBFBFB;
        }
        .form-order {
        padding: 50px 100px;
        width: 628px;
    height: 534px;
        }
        .title-form {
            font-weight: 600;
            font-size: 24px;
            line-height: 108%;
            
        }
        .button-order {
            border-radius: 30px;
        padding: 16px 129px;
        width: 428px;
        height: 52px;
        }
        .network-text {
        font-weight: 600;
        font-size: 18px;
        line-height: 111%;
        }
        .network-list {
            display: flex;
        
        }
        .network-item {
            list-style-type: none;
        }
        .link-network {
        text-decoration: none;
        font-size: 32px;
        line-height: 100%;
        
        }
    }